.skill-main-container {
  max-height: max-content;
  overflow: hidden;
  width: 95%;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  padding: 0.3em;
}

.skill-main-container .page-header {
  width: 95%;
  margin: 0 auto;
  padding: 1em;
  font-size: 20px;
  color: #356075;
  text-decoration: underline;
}

.skill-center-container {
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 0.5em;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
  width: 95%;
  text-align: center;
}

.skill-center-container .skill {
  display: grid;
  gap: 10px;
  height: 3.5em;
  width: 90%;
  padding: 0 0.5em;
  grid-template-columns: 30% 70%;
  text-align: end;
  margin: 0 auto;
  align-items: center;
  place-content: center;
}

.skill .skill-name {
  color: #356075;
  size: 20px;
}

.skill .skill-progress {
  height: 1.2em;
  border-radius: 20px;
  background-color: #356075;
  animation: progress 2000ms ease-in 1;
}

@keyframes progress {
  from {
    width: 0;
  }
}

.react {
  width: 85%;
}
.html {
  width: 70%;
}
.css {
  width: 80%;
}
.node {
  width: 85%;
}
.express {
  width: 75%;
}
.mongodb {
  width: 65%;
}
.sql {
  width: 80%;
}
.firebase {
  width: 85%;
}

@media only screen and (max-width: 500px) {
  .skill-center-container .skill {
    grid-template-columns: 20% 80%;
  }
  .skill .skill-progress {
    height: 0.8em;
  }
  .skill .skill-name {
    font-size: 13px;
  }
}
